<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head th:include="views/common/head :: head"></head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:include="views/common/sidebar :: sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:include="views/common/navbar :: navbar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
                <!-- End of Topbar -->


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0">信用卡 - 刷卡優惠 > 優惠商店</h1>
                    </div>

                    <div class="formWizard">
                        <ul class="nav">
                            <li class="active">
                                <i class="fas fa-edit"></i>
                                <p>
                                    經辦
                                </p>
                            </li>
                            <li>
                                <div class="nav-wedge"></div>
                                <i class="fas fa-user-check"></i>
                                <p>
                                    審核
                                </p>
                            </li>
                            <li>
                                <div class="nav-wedge"></div>
                                <i class="fas fa-user-check"></i>
                                <p>
                                    覆核
                                </p>
                            </li>
                        </ul>
                    </div>

                    <div class="row">

                        <div class="col-lg-12 mb-4">

                            <div class="card shadow mb-4">
                                <div class="card-header">
                                    <div class="navbar">
                                        <h6 class="m-0 font-weight-bold">信用卡 - 刷卡優惠 > 優惠商店申請</h6>
                                    </div>
                                </div>
                                <div class="card-body">
                                <form id="sForm" enctype="multipart/form-data" method="post" th:object="${cardSwipeDiscountShopForm}">
                                    <input type="hidden" th:field="*{applicantId}">
                                    <input type="hidden" th:field="*{applicant}">
                                    <input type="hidden" th:field="*{applicantUnitId}">
                                    <input type="hidden" th:field="*{applicantUnit}">
                                    <input type="hidden" th:field="*{nextApprover}">
                                    <input type="hidden" th:field="*{agent}">
                                    <input type="hidden" th:field="*{type}">
                                    <div class="row ml-0 mr-0">
                                        <div class="col-lg-12 card-table">
                                            <p>
                                            	申請人： <span th:text=*{applicant}></span>
                                            </p>
                                            <p>
                                               	 申請單位： <span th:text=*{applicantUnit}></span>
                                            </p>
                                            <div class="card-select">
                                                <div class="form-group form-datepicker">
                                                    <div class="row">
                                                        <div class="outsideInp">
                                                            <label for="">刊登日期</label>
                                                            <div class="input-group date">
                                                                <input id="fromNodate" class="form-control" type="text" th:field="*{onTimeDate}" required>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="outsideInp">
                                                        	<label for="">時間</label>
															<div>
																<select class="form-control form-selectdate" th:field="*{onTimeHour}">
																	<option value="00">00</option>
																	<option value="01">01</option>
																	<option value="02">02</option>
																	<option value="03">03</option>
																	<option value="04">04</option>
																	<option value="05">05</option>
																	<option value="06">06</option>
																	<option value="07">07</option>
																	<option value="08">08</option>
																	<option value="09">09</option>
																	<option value="10">10</option>
																	<option value="11">11</option>
																	<option value="12">12</option>
																	<option value="13">13</option>
																	<option value="14">14</option>
																	<option value="15">15</option>
																	<option value="16">16</option>
																	<option value="17">17</option>
																	<option value="18">18</option>
																	<option value="19">19</option>
																	<option value="20">20</option>
																	<option value="21">21</option>
																	<option value="22">22</option>
																	<option value="23">23</option>
																</select>
																<span class="symbol"> ： </span>
																<select class="form-control form-selectdate" th:field="*{onTimeMin}">
																	<option value="00">00</option>
																	<option value="15">15</option>
																	<option value="30">30</option>
																	<option value="45">45</option>
																</select>
																<span class="symbol butterfly"> ～ </span>
                                                            </div>
                                                        </div> 
                                                        <div class="outsideInp">
                                                            <label for="">停刊日期</label>
                                                            <div class="input-group date">
                                                                <input id="toNodate" class="form-control" type="text" th:field="*{offTimeDate}" required>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="outsideInp">
                                                            <label for="">時間</label>
                                                        	 <div style="width: 300px;">
	                                                            <select class="form-control form-selectdate" th:field="*{offTimeHour}">
	                                                                <option value="00">00</option>
	                                                                <option value="01">01</option>
	                                                                <option value="02">02</option>
	                                                                <option value="03">03</option>
	                                                                <option value="04">04</option>
	                                                                <option value="05">05</option>
	                                                                <option value="06">06</option>
	                                                                <option value="07">07</option>
	                                                                <option value="08">08</option>
	                                                                <option value="09">09</option>
	                                                                <option value="10">10</option>
	                                                                <option value="11">11</option>
	                                                                <option value="12">12</option>
	                                                                <option value="13">13</option>
	                                                                <option value="14">14</option>
	                                                                <option value="15">15</option>
	                                                                <option value="16">16</option>
	                                                                <option value="17">17</option>
	                                                                <option value="18">18</option>
	                                                                <option value="19">19</option>
	                                                                <option value="20">20</option>
	                                                                <option value="21">21</option>
	                                                                <option value="22">22</option>
	                                                                <option value="23">23</option>
	                                                            </select>
                                                        		<span class="symbol"> ： </span>
                                                            	<select class="form-control form-selectdate" th:field="*{offTimeMin}">
	                                                                <option value="00">00</option>
	                                                                <option value="15">15</option>
	                                                                <option value="30">30</option>
	                                                                <option value="45">45</option>
	                                                            </select>
                                                        	</div>
                                                    	</div>
                                                    </div>
                                                    <div class="invalidColor" th:if="${#fields.hasErrors('onTimeDate')}" th:errors="*{onTimeDate}"></div>
                                                </div>
                                            </div>                                         

                                            <div class="card-select">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label for="">您的下一層簽核人員</label>
                                                            <select class="form-control chosen-select" tabindex="2" data-placeholder="Choose..." required="required" th:field="*{nextApproverId}">
                                                            	<option value="">請選擇</option>
                                                                <option th:each="approver:${approverList}" th:value="${approver.cn}" th:text="${approver.givenName}" th:selected="${approver.cn} == *{nextApproverId}"></option>
                                                            </select>
                                                            <div class="invalidColor" th:if="${#fields.hasErrors('nextApprover')}" th:errors="*{nextApprover}"></div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label for="">您的下一層簽核人員之代理人</label>
                                                            <select class="form-control chosen-select" tabindex="2" data-placeholder="Choose..." th:field="*{agentId}">
                                                            	<option value="">請選擇</option>
                                                                <option th:each="approver:${approverList}" th:value="${approver.cn}" th:text="${approver.givenName}" th:selected="${approver.cn} == *{agentId}"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="card-select">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label for="">類別</label>
                                                            <select class="form-control chosen-select" tabindex="2" data-placeholder="Choose..." required="required" th:field="*{category}">
                                                            	<option value="">請選擇</option>
                                                                <option th:each="category:${categoryMap}" th:value="${category.key}" th:text="${category.value}" th:selected="${category.key} == *{category}"></option>
                                                            </select>
                                                            <div class="invalidColor" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="titlename">店家名稱<span><br>註：上限 30 字</span></label>
                                                <input type="text" class="form-control" id="titlename" placeholder="" maxlength="30" required th:field="*{title}">
                                                <div class="invalidColor" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                                            </div>

                                            
                                            <div class="form-group">
                                                <label for="titlename">優惠商店內容</label>
                                                <textarea class="ckeditor" rows="20" placeholder="" id="tmp" th:field="*{content}"></textarea>
                                                <textarea class="" rows="20" placeholder=""  style="display:none"></textarea>
                                            	<div class="invalidColor" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="btnNext">
                        <a href="#" class="btn btn-return" onclick="preview()">
                            <span class="">預覽</span>
                        </a>
                        <a href="#" class="btn btn-next" onclick="submit()">
                            <span class="">送出表單</span>
                        </a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</body>
<footer th:include="views/common/footer :: footer"></footer>
<script th:src="@{/assets/ckeditor/ckeditor.js}"></script>
<script>
window.onload = new Initial().init();

function Initial() {
	
	function fillsample() {
		const content = $('textarea#content').val();
		if (content && content.trim() != '') {
			$('textarea.ckeditor').text(content)
		} else {
			$('textarea.ckeditor').val(
	 				'<div class=\"mainBox\">\r\n' + 
	 				'<div class=\"blockWrap\">\r\n' + 
	 				'<p class=\"titleBlk_b\">活動內容</p>\r\n' + 
	 				'<ul class=\"decimalType\">\r\n' + 
	 				'    <li>\r\n' + 
	 				'        <span class=\"ft-base\">住宿優惠：</span>\r\n' + 
	 				'        <ul class=\"dotLister\">\r\n' + 
	 				'            <li>草山雙人房定價新臺幣(下同)7,500元，平日住宿享優惠價6,000元。</li>\r\n' + 
	 				'            <li>和風雙人房定價9,000元，平日住宿享優惠價7,500元。</li>\r\n' + 
	 				'        </ul>\r\n' + 
	 				'    </li>\r\n' + 
	 				'    <li>\r\n' + 
	 				'        <span class=\"ft-base\">餐飲優惠：</span>\r\n' + 
	 				'        平日用餐享定價9折優惠。\r\n' + 
	 				'    </li>\r\n' + 
	 				'    <li>\r\n' + 
	 				'        <span class=\"ft-base\">泡湯優惠：</span>\r\n' + 
	 				'        使用露天風呂，平日享定價6折、假日享定價85折優惠。\r\n' + 
	 				'    </li>\r\n' + 
	 				'</ul>\r\n' + 
	 				'\r\n' + 
	 				'\r\n' + 
	 				'<p class=\"titleBlk_b\">店家資訊</p>\r\n' + 
	 				'<ul class=\"pointInfo\">\r\n' + 
	 				'    <li>電話：(02)2408-0000</li>\r\n' + 
	 				'    <li>地址：新北市金山區重和里名流路1-7號</li>\r\n' + 
	 				'    <li>網址：<a href=\"#!\" target=\"_blank\" title=\"開新視窗-陽明山天籟渡假酒店\">官方網站</a>、<a href=\"#!\" target=\"_blank\" title=\"開新視窗-FB粉絲團\">FB粉絲團</a></li>\r\n' + 
	 				'    <li>其他：<a href=\"#!\" target=\"_blank\" title=\"開新視窗-優惠券下載\">優惠券下載</a></li>\r\n' + 
	 				'</ul>\r\n' + 
	 				'<div class=\"notice collapseLister\">\r\n' + 
	 				'    <div class=\"noticeTitle\">\r\n' + 
	 				'        <p class=\"card-link\" data-toggle=\"collapse\" aria-expanded=\"false\" href=\"#note_a_02\">注意事項</p>\r\n' + 
	 				'    </div>\r\n' + 
	 				'    <ul class=\"dotLister collapse show\" id=\"note_a_02\">\r\n' + 
	 				'        <li>活動期間：請參考各指定行程優惠期間。</li>\r\n' + 
	 				'        <li>刷卡時請主動告知為上海銀行持卡人，且限使用上海銀行信用卡支付本人及同行者全額費用，方可享上述折扣優惠。</li>\r\n' + 
	 				'        <li>本活動不得與其他優惠案合併使用。</li>\r\n' + 
	 				'        <li>除法令或法律另有規定外，上海銀行與信安旅遊保留隨時修改、變更或取消本活動之權利。</li>\r\n' + 
	 				'    </ul>\r\n' + 
	 				'</div>\r\n' + 
	 				'</div>\r\n' + 
	 				'</div>'
	 		);
		}
		CKEDITOR.stylesSet.add('scsb', [
		    { name: '注意事項', element: 'div', attributes: { 'class': 'notice collapseLister' } },
		    { name: '注意事項標題區塊', element: 'div', attributes: { 'class': 'noticeTitle' } },
		    { name: '標題', element: 'p', attributes: { 'class': 'titleBlk_b' } },
		    { name: '內文', element: 'p' },
		    { name: '注意事項標題', element: 'p', attributes: { 'class': 'card-link' } },
		    { name: '特別標註', element: 'span', attributes: { 'class': 'ft-base' } },
		    { name: '無序清單', element: 'ul', attributes: { 'class': 'dotLister' } },
		    { name: '資訊清單', element: 'ul', attributes: { 'class': 'pointInfo' } },
		    { name: '注意事項清單', element: 'ul', attributes: { 'class': 'dotLister collapse show' } },
		]);
 		// For inline style definition.
 		CKEDITOR.config.stylesSet = 'scsb';
		CKEDITOR.config.contentsCss = '[[@{/assets/preview/styles/all.css}]]';
	}
	
	return {
		init: function() {
			fillsample();
		}
	}
}

$('#nextApproverId').change(function(){
	var nextApprover = $("#nextApproverId").find('option:selected').text();
	
	if (nextApprover != "請選擇"){
		$('#nextApprover').val(nextApprover);		
	}
	else{
		$('#nextApprover').val("");
	}
});

$('#agentId').change(function(){
	var agent = $("#agentId").find('option:selected').text();
	
	if (agent != "請選擇"){
		$('#agent').val(agent);		
	}
	else{
		$('#agent').val("");
	}
});

function preview(){
	document.forms['sForm'].target = '_blank';
	document.forms['sForm'].action = contextPath + '/previewCardDiscountShop';
	const content = CKEDITOR.instances['tmp'].getData();
	$tmp = $(content).find('div.blockWrap')
	// 重新封裝注意事項區塊, 保留隱藏效果
	$tmp.find('p.card-link')
		.attr('data-toggle', 'collapse')
		.attr('aria-expanded', 'false')
		.attr('href', '#note_a_02')
	$tmp.find('ul.collapse')
		.removeClass('show')
		.attr('id', 'note_a_02')
	$('textarea#content').val($tmp.html())
	document.forms['sForm'].submit();
}

function submit(){
	const content = CKEDITOR.instances['tmp'].getData();
	$tmp = $(content).find('div.blockWrap')
	// 重新封裝注意事項區塊, 保留隱藏效果
	$tmp.find('p.card-link')
		.attr('data-toggle', 'collapse')
		.attr('aria-expanded', 'false')
		.attr('href', '#note_a_02')
	$tmp.find('ul.collapse')
		.removeClass('show')
		.attr('id', 'note_a_02')
	$('textarea#content').val($tmp.html())
	document.forms['sForm'].target = '_self';
	document.forms['sForm'].action = 'save';
	document.forms['sForm'].submit();
}
</script>
</html>