<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>review-enterprise-index-banner-首頁 - 廣告輪播</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/preview.css}">
</head>
<body>
	<div class="mainBanner">
		<div class="header">
			<img th:src="@{/assets/img/header.png}" alt="">
		</div>

		<div class="banner">
			<div th:if="${sheet==null}">
				<img th:src="${image}" alt="">
				<!--             banner img -->
			</div>
			<div th:if="${sheet!=null}">
				<img th:src="@{${sheet.image}}" alt="">
			</div>
		</div>

		<div class="footer">
			<img th:src="@{/assets/img/curve.png}" alt=""> <img
				th:src="@{/assets/img/index_body.png}" alt="">

		</div>
	</div>
</body>
</html>