<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>review-enterprise-index-announce-首頁 - 本行公告</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/preview.css}">
</head>
<body>
	<div class="mainDetail">
		<div class="header">
			<img th:src="@{/assets/img/header.png}" alt="">
		</div>

		<div class="inner-kv">
			<div class="inner-kv-wrap" style="display: flex;">
				<div class="inner-kv-img" style="width: 100%;background-color: #efefef;margin-top: 10px;">
					
					<div class="inner-tag">
						<div class="distag">銀行資訊</div>
						<div class="date">110/12/31止</div>
					</div>
				</div>
				<div class="inner-kv-slogan d-flex align-items-sm-center">


					<div class="inner-kv-item">

						<h2>[[${title}]]</h2>
						<div class="wording"></div>

					</div>
				</div>
			</div>
		</div>



		<div class="banner">
			<img th:src="${image}" alt="">
			<p th:text="*{content}"></p>
			<!--             banner img -->
		</div>

		<!--         <div class="footer"> -->
		<!--             <img th:src="@{/assets/img/curve.png}" alt=""> -->
		<!--             <img th:src="@{/assets/img/body.png}" alt=""> -->

		<!--         </div> -->
	</div>
</body>
</html>