<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>preview-index-activity-首頁 - 最新活動</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/preview.css}">
</head>
<body>
	<div class="main" style="width: 100%;">
		<div class="header">
<!-- 			<img th:src="@{/assets/img/header.png}" alt=""> -->
		</div>

		<div class="inner-kv">
			<div class="inner-kv-wrap" style="display: flex;">
				<div class="inner-kv-img" style="width: 100%;background-color: #efefef;margin-top: 10px;">
					
					<div class="inner-tag">
						<div class="distag">銀行資訊</div>
						<div class="date">110/12/31止</div>
					</div>
				</div>
				<div class="inner-kv-slogan d-flex align-items-sm-center">


					<div class="inner-kv-item">

						<h2>[[${title}]]</h2>
						<div class="wording"></div>

					</div>
				</div>
			</div>
		</div>



		<div class="banner">
			<a th:href="${imageUrl}"><img th:src="${image}" alt=""></a>
			<p th:text="*{content}"></p>
			<!--             banner img -->
		</div>
		<div>
			<a href="#">[[${fileName}]]</a>
		</div>
		<div>
			<a href="#">[[${fileName2}]]</a>
		</div>
		<div>
			<a href="#">[[${fileName3}]]</a>
		</div>
		<div>
			<a href="#">[[${fileName4}]]</a>
		</div>
		<div>
			<a href="#">[[${fileName5}]]</a>
		</div>
	</div>
</body>
</html>